<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/halls1.css')}}">
    <title>Halls booking</title>
</head>
<body>
    <div class="mydiv">
        <h1>LIST OF DEPARTMENT & AUDITORIUM</h1>
    </div>
     <div class="cardBox">

                <div class="card">

                    <div>
                        <!--<div class="numbers">14</div>-->
                            <div class="cardName">CIVIL DEPARTMENT</div>
                    </div>

                    <div class="iconBx">

                        <ion-icon name="business-outline"></ion-icon>
                    </div>

                </div>

                <div class="card">
                    <div>
                        <div class="cardName">MECH DEPARTMENT</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="business-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>

                        <div class="cardName">MHTRS DEPARTMENT</div>
                    </div>

                    <div class="iconBx">

                       <ion-icon name="business-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>

                        <div class="cardName">AUTOMOBILE DEPARTMENT</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="business-outline"></ion-icon>
                    </div>
                </div>
         <div class="card">
                    <div>
                        <div class="cardName">CHEMICAL DEPARTMENT</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="business-outline"></ion-icon>
                    </div>
                </div>
         <div class="card">
                    <div>

                        <div class="cardName">FT DEPARTMENT</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="business-outline"></ion-icon>
                    </div>
                </div>
         <div class="card">
                    <div>
                        <div class="cardName">EEE DEPARTMENT</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="business-outline"></ion-icon>
                    </div>
                </div>
         <div class="card">
                    <div>
                        <div class="cardName">EIE DEPARTMENT</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="business-outline"></ion-icon>
                    </div>
                </div>
         <div class="card">
                    <div>

                        <div class="cardName">ECE DEPARTMENT</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="business-outline"></ion-icon>
                    </div>
                </div>
         <div class="card">
                    <div>
                        <div class="cardName">CSE DEPARTMENT</div>
                    </div>
                    <a href="RegisterEvent.html">
                    <div class="iconBx">
                        <ion-icon name="business-outline"></ion-icon>
                    </div>
                    </a>
                </div>
         <div class="card">
                    <div>
                        <div class="cardName">IT DEPARTMENT</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="business-outline"></ion-icon>
                    </div>
                </div>
         <div class="card">
                    <div>
                        <div class="cardName">CSD DEPARTMENT</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="business-outline"></ion-icon>
                    </div>
                </div>
         <div class="card">
                    <div>
                        <div class="cardName">AIDS DEPARTMENT</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="business-outline"></ion-icon>
                    </div>
                </div>
         <div class="card">
                    <div>
                        <div class="cardName">AIML DEPARTMENT</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="business-outline"></ion-icon>
                    </div>
                </div>

            </div>
 <!-- =========== Scripts =========  -->
    <script src="main.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>